.crawlInfo {
  z-index: 100;
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: #fff;
  border: 1px #000 Solid;
  padding: 10px;
  text-align: center;
}
